{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply</title>
    <link rel="stylesheet" href="{% static 'css/applystyle.css' %}">
    <div class="banner">
        <ul  class="bannerimage">
            <li><a href="{% url 'home' %}"><img src="{% static 'image/멋쟁이사자.jpg' %}" alt="" height="40px" width="40px"></a></li>
            <li><a href={% url 'login' %}>Login</a></li>
            <li><a href="">Signup</a></li>
        </ul>
    </div>
    <br><br><br><br>
</head>
    {% block content %}
    {% endblock %}
</html>