{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply home</title>
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
    <div class="banner">
        <ul>
            <img src="{% static 'image/멋쟁이사자.jpg' %}" alt="" height="30px" width="30px">
        </ul>

    </div>
</head>
<body>
    <div>
        {%for volunteer in person.all%}
        <div>
            <a href="{% url 'detail' volunteer.id %}"><h3>{{volunteer.name}}</h3></a>
        </div>
        {%endfor%}
        <div>
            <a href="{% url 'apply' %}"><h4>지원하기</h4></a>
        </div>
    </div>
</body>
</html>