{% extends 'base.html' %}

{% block content %}
{% if not user.is_authenticated %}
<br><br>
<h1>로그인 해주세요</h1>
{% endif %}

{% if user.is_authenticated %}
<body>
    <div>
        {%for volunteer in person.all%}
        <div class="people">
    
            {% if volunteer.image %}
            <div class="image">
                <img src="{{ volunteer.image.url }}" alt="" height="200px" width="250px">
            </div>
            {% else %}
            <p>사진없음</p>
            {% endif %}
    
            <div class="text">
                <h3>{{volunteer.name}}({{volunteer.age}}, {{volunteer.gender}})</h3>
                <h5><p>{{volunteer.summary}}</p></h5>
                <div class="botton">
                    <a href="{% url 'detail' volunteer.id %}" id="botton">view</a>
                    <a href="{% url 'update' volunteer.id %}" id="botton">edit</a>
                </div> 
            </div>
    
        </div>
        {%endfor%}
    </div>
       
</body>
{% endif %}

{% endblock %}